<?xml version="1.0"?>
<robot name="old-subdivision">
    <link name="base_footprint">
        <visual>
            <origin xyz="0 0 0.0375" />
            <geometry>
                <cylinder length="0.075" radius="0.170"/>
            </geometry>
        </visual>
    </link>

    <link name="base_link"/>


    <joint name="base_to_right_leg" type="fixed">
        <parent link="base_footprint"/>
        <child link="base_link"/>
        <origin xyz="0 0 -0.055"/>
    </joint>

    <link name="camera_link">
    <visual>
        <geometry>
            <box size="0.08  0.25 .04"/>
        </geometry>
        <material name="blue">
          <color rgba="0 0 .8 1"/>
         </material>
    </visual>
    </link>

    <link name="imu_link">
    <visual>
        <geometry>
            <box size="0.09  0.055 .001"/>
        </geometry>
        <material name="blue">
          <color rgba="0 0 .8 1"/>
         </material>
    </visual>
    </link>
<joint name="base_to_imu" type="fixed">
    <parent link="base_footprint"/>
    <child link="imu_link"/>
    <origin xyz="0 0 .075"/>
</joint>

<joint name="base_to_camera" type="fixed">
    <parent link="base_footprint"/>
    <child link="camera_link"/>
    <origin xyz="0.09 0 0.075"/>
</joint>


</robot>
