<launch>

  <!--- Run the kinect -->
  <include file="$(find gunncs_navigation_2dnav)/launch/kinect.launch" />

  <!--- Run gmapping -->
  <include file="$(find gunncs_navigation_2dnav)/config/gmapping_turtlebot.launch" />

  <!--- Run Move Base -->
  <include file="$(find gunncs_navigation_2dnav)/config/move_base_turtlebot.launch" />

</launch>
