<launch>

  <!--- Run the Robot-->
  <include file="$(find gunncs_navigation_2dnav)/os_nav_config.launch" />

  <!--- Run gmapping -->
  <include file="$(find gunncs_navigation_2dnav)/config/gmapping_turtlebot.launch" />

  <!--- Run Move Base -->
  <include file="$(find gunncs_navigation_2dnav)/config/move_base_turtlebot.launch" />

</launch>
